

/* additionals */
.center {
    text-align: center;
}
.space {
    height: 50px;
}
.space1/2 {
    height: 25px;
}
.space2 {
    background-color: #80c4ff;

}
.container {
    background-color: #e0f7ff;
}

.background2 {
    background-color: #80c4ff;
}
/* first row */

.navbar {
    height:90px;
    background-color: #3399ff;
}
.welcome {
    text-align: left;
}
.navbar-link {
    color:#ffffff ;
}

.personal-image {
    height: 70px;
    width: 70px;
    display: block;
    margin-left: 40px;
    margin-right: 50px;
}


/* second row */
.title-row {

}
.Image1 {
    height: 275px;
    width: 275px;
    margin-left: 55px;
}



.heading {
    margin-top: 30px;
    font-family: Montserrat;
    font-size: 45px;
}

.sub-heading {
    font-family: lato;
    font-size: 19px;
    margin-top: 35px;
}
.sub-heading2 {
    font-family: lato;
    font-size: 19px;
    margin-top: 20px;
   
}



/* third row */

.me {
    text-align: center;
}


.Image2 {
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.Determined {
    text-align:center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.Determined2 {
    text-align:center;
    font-family: 'Source Code Pro', monospace;
}
.Image3 {
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.Enthusiastic {
    text-align:center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.Enthusiastic2 {
    text-align:center;
    font-family: 'Source Code Pro', monospace;
}

.Image4 {
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.Innovative {
    text-align:center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.Innovative2 {
    text-align:center;
    font-family: 'Source Code Pro', monospace;
}
